@charset "UTF-8";
h2,
h3,
h4,
h5,
h6,
nav a,
p,
section h1 {
  font-family: Roboto, sans-serif;
}
footer h1 {
  font-family: Shrikhand, cursive;
  color: #fff;
}
header .logo {
  margin: 1rem 2rem 1rem 4.5rem;
}
nav a {
  display: none;
}
.localisation {
  display: flex;
  justify-content: center;
  border-top-style: groove;
  background-color: #f2f2f1;
  border-bottom: 0.1px solid rgba(209, 209, 209, 0.2);
}
.button1 {
  background: linear-gradient(172deg, #ff79da 21%, #9356dc 79%);
  box-shadow: 0 0 0.5rem 0.3rem #e5e5e5;
  color: #fff;
  width: 63%;
  border: none;
  text-align: center;
  border-radius: 10rem;
  cursor: pointer;
  overflow: hidden;
  padding: 0.7rem 0.7rem;
  margin: auto;
  position: relative;
  transition-property: backgroung-color;
  transition-duration: 5s;
  margin-bottom: 3rem;
}
.button1:hover {
  transition-delay: 2s;
  background: linear-gradient(#cc51b7 50%, #eea4da 80%);
  box-shadow: 5px 5px #cc51b7;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.fonctionnement a {
  color: #000;
  text-decoration: none;
  font-size: small;
  padding-left: 1rem;
}
i.fas.fa-map-marker-alt {
  padding: 1.2rem 1.2rem 1.2rem 0rem;
}
i.fas:hover {
  color: #9356dc;
}
.fonctionnement p {
  margin: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1.5rem;
  font-family: Raleway, sans-serif;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
}
.fonctionnement p::before {
  color: #fff;
  background-color: #9356dc;
  border-radius: 50%;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-left: -1.7rem;
  margin-right: 1.5rem;
}
.fonctionnement p.unrestaurant::before {
  content: '1';
}
.fonctionnement p.composermenu::before {
  content: '2';
}
.fonctionnement p.degusterrestaurant::before {
  content: '3';
}
.fonctionnement p:hover {
  background-color: rgba(255, 121, 209, 0.2);
}
section#resrvationmenu {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}
.fonctionnement {
  background-color: #fff !important;
}
section#resrvationmenu h1 {
  text-align: center;
}
section#resrvationmenu h4 {
  text-align: center;
  margin: 1rem;
}
h2.hfonctionnement {
  font-size: 20px;
  margin-left: 5.5px;
}
main {
  display: flex;
  flex-direction: column;
}
.fonctionnement h4 {
  margin-left: 1rem;
}
.figurerestaurants {
  width: 90%;
  margin: 1rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 1px 5px 2px #d1d1d1;
  line-height: 1.5rem;
  margin-bottom: 5px;
}
.figurerestaurants img {
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.figurerestaurants .restaurant_nouveau {
  display: flex;
}
section#restaurants h1 {
  margin-left: 10.5px;
}
.fa-accueil {
  margin: 1rem 0 0 8rem;
}
figcaption.restaurantlapalettedugout {
  display: flex;
}
section#restaurants h4 {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0;
  padding-left: 0.5rem;
}
section#restaurants p {
  margin-top: 0;
  padding-left: 0.5rem;
}
span.francaise {
  color: transparent;
}
section#restaurants {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  margin-top: 1.5rem;
  padding-bottom: 3rem;
}
a {
  padding: 1.5rem 0 0 1.5rem;
  text-decoration: none;
  color: #000;
}
footer {
  display: flex;
  height: auto;
  background-color: #0c0c0c;
  padding-bottom: 25px;
  text-decoration: none;
}
footer section {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  line-height: 2rem;
}
footer img {
  padding: 1rem 3rem 1rem 0rem;
}
footer a {
  color: #fff;
  text-decoration: none;
}
.fa-utensils:before {
  content: '\f2e7';
  padding-right: 0.7rem;
}
.fa-hands-helping:before {
  content: '\f4c4';
  padding-right: 0.2rem;
}
footer h1 {
  margin-left: 1.5rem;
}
header {
  display: flex;
}
header .logo1 {
  margin: 1rem 2rem 1rem -0.5rem;
}
i.fas.fa-arrow-left {
  margin: 0rem 2.5rem 1.5rem 0.5rem;
  font-size: 2rem;
  position: relative;
}
.fa-restaurants {
  margin: 1rem 0 0 1rem;
}
.fa-restaurants-3 {
  margin: 1rem 0 0 3rem;
}
section#menualafrancaise img {
  width: 100%;
  height: 190px;
  background-color: #e5e5e5;
  object-fit: cover;
}
section#menualafrancaise {
  background-color: #e5e5e5;
}
aside.photo_menus {
  display: flex;
  justify-content: space-around;
}
figure.figureremenus {
  margin: 0;
}
figure.figureremenus h1 {
  font-family: Shrikhand, cursive;
  margin-left: 1.4rem;
}
figcaption.menus_alafrancaise {
  display: flex;
  border-radius: 1rem 1rem 0 0;
  background-color: #e5e5e5;
  position: relative;
  bottom: 1rem;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
}
#menualafrancaise_menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e5e5;
}
*,
::after,
::before {
  box-sizing: border-box;
}
form {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 3rem;
  margin: 0 1rem 0 1rem;
}
form input[type='checkbox'] {
  display: none;
}
form li label:first-of-type {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 0.1px;
  height: 100%;
  border-radius: 1rem;
  flex: 1;
}
form input[type='checkbox']:checked ~ label:last-of-type {
  display: flex;
}
form li label:last-of-type {
  display: none;
  width: 3.8rem;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}
form li label:last-of-type:before {
  content: '\f00c';
  margin: auto;
  color: #99e2d0;
  background-color: #f5f5f5;
  border-radius: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
form .menus_entree {
  padding-top: 0.4rem;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
form .suitemenus_entree {
  font-size: 0.9rem;
  padding-left: 0.01rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
form .prix {
  font-weight: 700;
  font-size: 0.9rem;
  padding-right: 1rem;
  -ms-flex-item-align: end;
}
form legend::before {
  content: '';
  position: absolute;
  width: 2.6rem;
  height: 100%;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 1.5rem;
}
form fieldset {
  border: 0;
  padding: 0;
  margin-top: 1rem;
  width: 100%;
}
form legend {
  position: relative;
  font-size: 1rem;
  margin-bottom: 1.1rem;
  border: none;
}
form ul {
  margin: 0 0 2rem 0;
  padding-left: 0;
  list-style: none;
}
form li {
  display: flex;
  list-style-type: none;
  height: 3.8rem;
  max-width: 100%;
  margin: 0.1rem 0 1rem 0rem;
  padding-left: 0.6rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 0.3rem #e5e5e5;
}
button,
input,
select,
textarea {
  font: inherit;
}
form .button {
  -webkit-box-shadow: 0 0 0.5rem 0.3rem #e5e5fe;
  box-shadow: 0 0 0.5rem 0.3rem #e5e5fe;
  background: linear-gradient(172deg, #ff79da 21%, #9356dc 79%);
  color: #fff;
  border: none;
  width: 50%;
  height: 3rem;
  border-radius: 5rem 5rem;
  cursor: pointer;
  position: relative;
  transition-property: backgroung-color;
  transition-duration: 2s;
}
form .button:hover {
  transition-delay: 2s;
  background: linear-gradient(#cc51b7 50%, #eea4da 80%);
  box-shadow: 5px 5px #cc51b7;
}
i.fillHover:hover {
  font-weight: 700;
  background-color: -webkit-linear-gradient(327deg, #ff79da, #9356dc);
  background-size: 400% 400%;
  -webkit-text-fill-color: #9356dc;
  cursor: pointer;
  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}
i.fillHover {
  font-size: 40px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0 88%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0 88%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0 88%;
  }
}
.loading1 {
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
}
.loading {
  animation: fadeOut 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeOut {
  0% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 1;
    -webkit-visibility: hidden;
  }
}
@keyframes fadeOut {
  0% {
    -webkit-opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
.menus {
  position: relative;
}
.menus .menus_au_choix .entree1 {
  animation-delay: 0.16667s;
}
.menus .menus_au_choix .entree2 {
  animation-delay: 0.333333s;
}
.menus .menus_au_choix .entree3 {
  animation-delay: 0.5s;
}
.menus .menus_au_choix .entree4 {
  animation-delay: 0.66667s;
}
.menus .menus_au_choix .entree5 {
  animation-delay: 0.83333s;
}
.menus .menus_au_choix .entree6 {
  animation-delay: 1s;
}
.menus .menus_au_choix .entree7 {
  animation-delay: 1.5s;
}
.menus .menus_au_choix .entree8 {
  animation-delay: 1.8888s;
}
.menus .menus_au_choix .entree9 {
  animation-delay: 2s;
}
.menus .menus_au_choix .entree10 {
  animation-delay: 2.3333s;
}
.menus li {
  position: relative;
  overflow: hidden;
  animation: animationdemunu 1.4s cubic-bezier(0.21, 0.58, 0.29, 1.05);
}
@keyframes animationdemunu {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
label.check {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: labelcheckwidth 50ms ease-in-out;
}
label.check::before {
  animation: labelcheckrotate 0.25s;
}
@keyframes labelcheckwidth {
  0% {
    width: 0;
  }
  100% {
    width: 3rem;
  }
}
@keyframes labelcheckrotate {
  0% {
    transform: rotate(450deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media screen and (min-width: 320px) {
  .fa-accueil {
    margin: 1rem 0 0 4rem;
  }
}
@media screen and (min-width: 375px) {
  .fa-accueil {
    margin: 1rem 0 0 8rem;
  }
}

@media screen and (min-width: 425px) {
  .fa-accueil {
    margin: 1rem 0 0 10rem;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    display: initial;
    font-size: 0.5rem;
    margin: auto;
  }
  nav {
    padding-top: 1rem;
  }
  header .logo {
    margin: 0rem 0rem -1rem 0.5rem;
  }
  nav a {
    display: initial;
  }
  header nav a {
    margin: 0rem 0rem 0rem 3rem;
    text-decoration: none;
    color: #000;
  }
  .button1 {
    margin-top: 2rem;
  }
  section#resrvationmenu {
    margin-top: 2rem;
  }
  .fonctionnement p {
    margin-right: 0;
  }
  .fonctionnement {
    background-color: initial !important;
    margin-bottom: 1.5rem;
  }
  section#restaurants h1 {
    width: 100%;
    margin-left: 23px;
  }
  section#restaurants h4 {
    margin-right: 0;
  }
  section#restaurants {
    flex-direction: initial;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
  }
  figure.figurerestaurants {
    width: 45%;
  }
  .fa-accueil {
    margin: 1rem 0 0 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .fa-accueil {
    margin: 1rem 0 0 11rem;
  }
  i.fas {
    font-size: 0.7rem;
  }
  .container2 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .button1 {
    width: 25%;
  }
}

@media screen and (min-width: 1280px) {
  .fa-accueil {
    margin: 1rem 0 0 20rem;
  }
}

@media screen and (min-width: 1440px) {
  .fa-accueil {
    margin: 1rem 0 0 21rem;
  }
}
@media screen and (min-width: 375px) {
  .fa-restaurants {
    margin: 1rem 0 0 4rem;
  }
  .fa-restaurants-3 {
    margin: 1rem 0 0 8rem;
  }

  header .logo {
    margin: 1rem 2rem 1rem 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  header {
    justify-content: space-around;
  }
  figcaption.menus_alafrancaise {
    justify-content: center;
  }
  #menualafrancaise_menus {
    flex-direction: initial;
  }
  section#restaurants h4 {
    margin-right: 0;
  }
  form fieldset {
    border: 1px solid grey;
    padding: 4rem;
    border-radius: 1rem;
  }
  section#menualafrancaise img {
    height: 407px;
  }
  .fa-restaurants,
  .fa-restaurants-3 {
    margin: 1rem 0 0 26rem;
  }
  input.button {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  #container_2 {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .fa-restaurants,
  .fa-restaurants-3 {
    margin: 1rem 0 0 26rem;
  }
}

@media screen and (min-width: 1920px) {
  .fa-accueil {
    margin: 1rem 0 0 35rem;
  }
}

.pnouveau,
.pnouveau-1 {
  left: 14rem;
  margin-top: 18px !important;
  background-color: #99e2d0;
  color: #0b5d49;
  padding: 0.3em;
  border-radius: 0.2rem;
  margin-left: -6rem;
  height: 2rem;
  width: 5.5rem;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .pnouveau,
  .pnouveau-1 {
    left: 16rem;
  }
}

@media screen and (min-width: 768px) {
  .pnouveau,
  .pnouveau-1 {
    left: 17rem;
  }
}

@media screen and (min-width: 1024px) {
  .pnouveau,
  .pnouveau-1 {
    left: 36rem;
  }
}
