/* Animation du bouton j'aime sur la carte des restaurant*/

i.fillHover:hover {
  font-weight: bold;
  background-color: -webkit-linear-gradient(327deg, $couleur_2, $couleur_1);
  background-size: 400% 400%;
  -webkit-text-fill-color: rgba(147,86,220, 1.5);
  cursor: pointer;
  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

i.fillHover {
  font-size: 40px;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0% 88%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0% 88%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0% 88%;
  }
}

/*Animation spiner*/

.loading1 {
  border-top: 10px solid $couleur_1;
  border-bottom: 10px solid $couleur_2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  border-radius: 50%;
  /* Placement du loader au milieu de la page */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Animation du loader au milieu de la page */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
}

.loading {
  animation: fadeOut 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-opacity: 1;
  }

  100% {
    -webkit-opacity: 1;
    -webkit-visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}

/* 

/*Animation des menus */

.menus {
  position: relative;
}

.menus .menus_au_choix .entree1 {
  animation-delay: 0.16667s;
}

.menus .menus_au_choix .entree2 {
  animation-delay: 0.333333s;
}

.menus .menus_au_choix .entree3 {
  animation-delay: 0.5s;
}
.menus .menus_au_choix .entree4 {
  animation-delay: 0.66667s;
}

.menus .menus_au_choix .entree5 {
  animation-delay: 0.83333s;
}

.menus .menus_au_choix .entree6 {
  animation-delay: 1s;
}

.menus .menus_au_choix .entree7 {
  animation-delay: 1.5s;
}

.menus .menus_au_choix .entree8 {
  animation-delay: 1.8888s;
}
.menus .menus_au_choix .entree9 {
  animation-delay: 2s;
}
.menus .menus_au_choix .entree10 {
  animation-delay: 2.3333s;
}

.menus li {
  position: relative;
  overflow: hidden;
  /* animation: animationdemunu 1.4s ease; */
  // animation: animationdemunu 1.4s linear;
  /* opacity: 0; */
  /* animation: fadeOut 3s ease-in-out; */
  // animation: animationdemunu 1.4s ease-in-out;
  //   animation-fill-mode: forwards;
  //   -o-animation: animationdemunu 1.4s ease-in-out;
  //   -o-animation-fill-mode: forwards;
  animation: animationdemunu 1.4s cubic-bezier(0.21, 0.58, 0.29, 1.05);
}

@keyframes animationdemunu {
  0% {
    transform: translateY(-30px);
    // transform: scaleX(0);
    // transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    // transform: scaleX(1);
    // transform: scaleY(1);
    opacity: 1;
  }
}

/* Animation la petite coche à droite du menu*/

label.check {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: labelcheckwidth 0.05s ease-in-out;
}

label.check::before {
  animation: labelcheckrotate 0.25s;
  //  cubic-bezier(1, 0, 0, 1);
}

@keyframes labelcheckwidth {
  0% {
    width: 0;
  }
  100% {
    width: 3rem;
  }
}

@keyframes labelcheckrotate {
  0% {
    transform: rotate(450deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
