// Couleurs//

$couleur_1:#9356dc;
$couleur_2:#ff79da;
$couleur_3:#99e2d0;
$cd-txt: white;
$couleur-de-fond:lighten(#e5e5e5 10%);


// Les imports

@import "./accueil.scss";
@import "./menus.scss";
@import "animations.scss";
@import "breakpoints-accueil.scss";
@import "breakpoints-pages-menus.scss";