@charset "UTF-8";h1 h2,h3,h4,h5,h6,nav a,p,section h1{font-family:Roboto,sans-serif}footer h1{font-family:Shrikhand,cursive;color:#fff}header .logo{margin:1rem 2rem 1rem 4.5rem}nav a{display:none}.localisation{display:flex;justify-content:center;border-top-style:groove;background-color:#f2f2ff;border-bottom:.1px solid rgba(209,209,209,.2)}.button1{background:linear-gradient(172deg,#ff79da 21%,#9356dc 79%);box-shadow:0 0 .5rem .3rem #e5e5e5;color:#fff;width:63%;border:none;text-align:center;border-radius:10rem;cursor:pointer;overflow:hidden;padding:.7rem .7rem;margin:auto;position:relative;transition-property:backgroung-color;transition-duration:5s;margin-bottom:3rem}.button1:hover{transition-delay:2s;background:linear-gradient(#cc51b7 50%,#eea4da 80%);box-shadow:5px 5px #cc51b7}.fonctionnement i:hover{color:#9356dc}.fonctionnement{display:flex;flex-direction:column;font-weight:700}.fonctionnement a{color:#000;text-decoration:none;font-size:small;padding-left:1rem}@media screen and (min-width:768px){.fonctionnement{display:initial;font-size:.5rem;margin:auto}}i.fas.fa-map-marker-alt{padding:1.2rem 1.2rem 1.2rem 0rem}.fonctionnement p{border:1px solid #f2f2f2;margin:.5rem 1rem .5rem 1rem;display:inline-block;padding:1rem;border-radius:1.5rem;font-family:Raleway,sans-serif;box-shadow:2px 1px 5px 2px #d1d1d1;background-color: rgba(209,209,209,.2);}.fonctionnement p::before{color:#fff;background-color:#9356dc;border-radius:50%;display:inline-flex;width:1.5rem;height:1.5rem;align-items:center;justify-content:center;margin-left:-1.7rem;margin-right:1.5rem}.fonctionnement p.unrestaurant::before{content:'1'}.fonctionnement p.composermenu::before{content:'2'}.fonctionnement p.degusterrestaurant::before{content:'3'}section#resrvationmenu{display:flex;flex-direction:column;background-color:rgba(209,209,209,.2)}.fonctionnement{background-color:#fff!important}section#resrvationmenu h1{text-align:center}section#resrvationmenu h4{text-align:center;margin:1rem}h2.hfonctionnement{font-size:20px;margin-left:5.5px}main{display:flex;flex-direction:column}.fonctionnement h4{margin-left:1rem}.figurerestaurants{width:90%;margin:1rem;background-color:#fff;border-radius:20px;box-shadow:2px 1px 5px 2px #d1d1d1;line-height:1.5rem;margin-bottom:5px}.figurerestaurants img{width:100%;height:120px;border-radius:20px 20px 0 0;object-fit:cover}.figurerestaurants .restaurant_nouveau{display:flex}.figurerestaurants .restaurant_nouveau:after{content:'Nouveau';height:fit-content;background-color:#99e2d0;color:#0b5d49;position:relative;left:-5.5rem;top:1rem;padding:.3em;border-radius:.2rem}section#restaurants h1{margin-left:10.5px}.fab,.far{font-weight:400;position:relative;left:6rem}figcaption.restaurantlapalettedugout{display:flex}section#restaurants h4{font-weight:700;font-size:1.1rem;margin-bottom:0;padding-left:.5rem; margin-right: 7rem;}section#restaurants p{margin-top:0;padding-left:.5rem}.icon.heart{width:40px;cursor:pointer;margin:.8rem 0 0 .5rem}.icon.heart path{fill:transparent;stroke-width:20px;stroke:#e275a8;stroke-dasharray:0;stroke-dashoffset:500}.icon.heart:hover path{animation:animate-heart 2s forwards}@keyframes animate-heart{0%{stroke-dashoffset:0}70%{stroke-dashoffset:500}80%{stroke-dashoffset:1000;fill:transparent}100%{stroke-dashoffset:1000;fill:#cd3280}}span.francaise{color:transparent}section#restaurants{display:flex;flex-direction:column;background-color:rgba(209,209,209,.2);margin-top:1.5rem;padding-bottom:3rem}a{padding:1.5rem 0 0 1.5rem;text-decoration:none;color:#000}footer{display:flex;height:auto;background-color:#0c0c0c;padding-bottom:25px;text-decoration:none}footer section{display:flex;flex-direction:column;margin-left:1rem;line-height:2rem}footer img{padding:1rem 3rem 1rem 0rem}footer a{color:#fff;text-decoration:none}.fa-utensils:before{content:'\f2e7';padding-right:.7rem}.fa-hands-helping:before{content:'\f4c4';padding-right:.2rem}footer h1{margin-left:1.5rem}@media screen and (min-width:768px){nav{padding-top:1rem}header .logo{margin:0rem 0rem -1rem .5rem}nav a{display:initial}header nav a{margin:0rem 0rem 0rem 3rem;text-decoration:none;color:#000}section#resrvationmenu{margin-top:2rem}.fonctionnement p{margin-right:0}.fonctionnement{background-color:initial!important;margin-bottom:1.5rem}section#restaurants h1{width:100%}section#restaurants{flex-direction:initial;justify-content:space-around;flex-wrap:wrap;margin-top:0}figure.figurerestaurants{width:45%}.icon.heart{margin:.8rem 0 0 8.5rem}}@media screen and (min-width:1280px){.button1{width:25%}.icon.heart{margin-left:25.5rem}}header{display:flex}i.fas.fa-long-arrow-alt-left{margin:0rem 2.5rem 1.5rem .5rem;font-size:2rem;position:relative}section#menualafrancaise img{width:100%;height:190px;background-color:#e5e5e5;object-fit:cover}section#menualafrancaise{background-color:#e5e5e5}aside.photo_menus{display:flex;justify-content:space-around}figure.figureremenus{margin:0}figure.figureremenus h1{font-family:Shrikhand,cursive;margin-left:.4rem; margin-right: 5rem;}figcaption.menus_alafrancaise{display:flex;border-radius:1rem 1rem 0 0;background-color:#e5e5e5;position:relative;bottom:1rem}body{font-family:Roboto,sans-serif;margin:0}section#menualafrancaise_menus{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; background-color: #e5e5e5;}*,::after,::before{box-sizing:border-box}form{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-bottom:3rem;margin:0 1rem 0 1rem}form input[type=checkbox]{display:none}form li label:first-of-type{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;width:.1px;height:100%;border-radius:1rem;-webkit-box-flex:1;-ms-flex:1;flex:1}.fa,.fab,.fad,.fal,.far,.fas,form li label:last-of-type{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}form input[type=checkbox]:checked~label:last-of-type{display:-webkit-box;display:-ms-flexbox;display:flex}form li label:last-of-type{display:none;width:3.8rem;height:100%;background-color:#99e2d0;border-radius:0 1rem 1rem 0}form li label:last-of-type:before{content:'\f00c';margin:auto;color:#99e2d0;background-color:#f5f5f5;border-radius:100%;padding:.2rem;font-size:.8rem;font-family:'Font Awesome 5 Free';font-weight:900}form .menus_entree{padding-top:.4rem;font-size:1.1rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%}form .suitemenus_entree{font-size:.9rem;padding-left:.01rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-webkit-box-flex:1;-ms-flex:1;flex:1}form .prix{font-weight:700;font-size:.9rem;padding-right:1rem;-ms-flex-item-align:end}form legend::before{content:'';position:absolute;width:2.6rem;height:100%;border-bottom:3px solid #99e2d0;padding-bottom:1.5rem}form fieldset{border:0;padding:0;margin-top:1rem;width:100%}form legend{position:relative;font-size:1rem;margin-bottom:1.1rem;border:none}form ul{margin:0 0 2rem 0;padding-left:0;list-style:none}form li{display:-webkit-box;display:-ms-flexbox;display:flex;list-style-type:none;height:3.8rem;max-width:100%;margin:.1rem 0 1rem 0rem;padding-left:.6rem;border-radius:1rem;background-color:#fff;-webkit-box-shadow:0 0 .5rem .3rem #e5e5e5;box-shadow:0 0 .5rem .3rem #e5e5e5}button,input,select,textarea{font:inherit}form .button{-webkit-box-shadow:0 0 .5rem .3rem #e5e5e5;box-shadow:0 0 .5rem .3rem #e5e5e5;background:linear-gradient(172deg,#ff79da 21%,#9356dc 79%);color:#fff;border:none;width:50%;height:3rem;border-radius:5rem 5rem;cursor:pointer;position:relative;transition-property:backgroung-color;transition-duration:2s}form .button:hover{transition-delay:2s;background:linear-gradient(#cc51b7 50%,#eea4da 80%);box-shadow:5px 5px #cc51b7}@media screen and (min-width:768px){header{justify-content:space-around}figcaption.menus_alafrancaise{justify-content:center}section#menualafrancaise_menus{flex-direction:initial}form fieldset{border:1px solid grey;padding:4rem;border-radius:1rem}section#menualafrancaise img{height:407px}input.button{margin-top:2rem}}

@media screen and (min-width: 768px){
    section#restaurants h4{
        margin-right: 0;
      }
}

@media screen and (min-width: 1280px){
    #container_2{
        margin-left: 7rem !important;
        margin-right: 7rem !important;
    }
}

 


/*Animation spiner*/

 .loading1{
     border-top: 10px solid #9356DC;
     border-bottom: 10px solid #FF79DA;
     border-left: 10px solid #99E2D0;
     border-right: 10px solid #f0c6c6;
     border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    border-radius: 50%;
    /* Placement du loader au milieu de la page */
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

 /* Animation du loader au milieu de la page */

 @-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
 
 @keyframes spin {
     0% {
        
         transform: rotate(0deg);
     }
     100% {
         
         transform: rotate(360deg)
        
     }
 }


 .loading{
     position: fixed;
     z-index: 99;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: turquoise;

 }

 .loading  {
     animation: fadeOut 3s ease-in-out;
     animation-fill-mode: forwards;
 }

 @-webkit-keyframes fadeOut {
    100%{
        -webkit-opacity: 1;
        -webkit-visibility: hidden;
    }
}


 @keyframes fadeOut {
     100%{
         opacity: 1;
         visibility: hidden;
     }
 }


/* 

/*Animation des menus */

.menus{
    position: relative;
}


.menus .menus_au_choix .entree1{
    animation-delay: 0.16667s;
    
}

.menus .menus_au_choix .entree2{
    animation-delay: 0.333333s;
}

.menus .menus_au_choix .entree3{
    animation-delay: 0.5s;
}
.menus .menus_au_choix .entree4{
    animation-delay: 0.66667s;
}

.menus .menus_au_choix .entree5{
    animation-delay: 0.83333s;
}

.menus .menus_au_choix .entree6{
    animation-delay: 1s;
}

.menus .menus_au_choix .entree7{
    animation-delay: 1.5s;
}

.menus .menus_au_choix .entree8{
    animation-delay: 1.8888s;
}
.menus .menus_au_choix .entree9{
    animation-delay: 2s;
}
.menus .menus_au_choix .entree10{
    animation-delay: 2.3333s;
}


.menus li {
    position: relative;
    overflow: hidden;
    /* animation: animationdemunu 1.4s ease; */
    /* animation: animationdemunu 1.4s linear; */
    /* opacity: 0; */
    /* animation: fadeOut 3s ease-in-out; */
    animation: animationdemunu 1.4s ease-in-out;
    animation-fill-mode: forwards;
    -o-animation: animationdemunu 1.4s ease-in-out;
    -o-animation-fill-mode: forwards;

    
     
}


@keyframes animationdemunu {
    0%
    {
        /* transform: translateY(150px); */
        transform: scaleX(0);
        opacity: 0;
    }
    100%
    {
        /* transform: translateY(0px); */
        transform: scaleX(1);
        opacity: 1;
    }
    }


    /* Animation la petite coche à droite du menu*/

    label.check {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        animation: labelcheck cubic-bezier(1, 0, 0, 1);
    }

 
 